@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


@font-face {
    font-family: 'Passion One';
    src: url();
}

@font-face {
    font-family: 'Sriracha';
    src: url();
}

:root {
    --fonte1: 'Sriracha', sans-serif;
    --fonte2: 'Passion One', cursive, sans-serif;
    --fonte3: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    text-align: center;
}

header > p {
    font-family: var(--fonte3);
    color: white;
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header > h1 {
    font-family: var(--fonte2);
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}


main {
    font-family: var(--fonte1)
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4vw;
}

.normal {
    background-color: white;

}

.foto {
    background-image: url(imagens/background001.jpg);
    background-color: rgb(122, 122, 122);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
}

.foto p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 5px;
    text-shadow: 1px 1px 0px black;

}

.foto2 {
    background-image: url(imagens/background002.jpg);
    background-color: rgb(122, 122, 122);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    box-shadow: inset 8px 8px 13px 0px rgba(0, 0, 0, 0.5);
}

.foto2 p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 5px;
    text-shadow: 1px 1px 0px black;

}


footer {
    font-family: var(--fonte3);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}

strong {
    font-weight: bold;
}